/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 18, 2018, 11:26:35 PM
    Author     : SYSTEM
*/

.button {
	-fx-background-color: transparent;
	-fx-graphic: url("diente3.4.png");
}

.button:hover{
        -fx-background-color: transparent;  
	-fx-graphic: url("diente3.1.png");
}

.button:pressed{
	-fx-graphic: url("diente3.2.png");
}