/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/06/2018, 06:55:43 PM
    Author     : VasMa
*/
.button {
	-fx-background-color: transparent;
	-fx-graphic: url("diente15.png");
}

.button:hover{
        -fx-background-color: transparent;  
	-fx-graphic: url("diente15.1.png");
}

.button:pressed{
	-fx-graphic: url("diente15.2.png");
}
