/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/06/2018, 06:42:49 PM
    Author     : VasMa
*/

.button {
	-fx-background-color: transparent;
	-fx-graphic: url("diente20.png");
}

.button:hover{
        -fx-background-color: transparent;  
	-fx-graphic: url("diente20.1.png");
}

.button:pressed{
        -fx-background-color: transparent;
	-fx-graphic: url("diente20.2.png");
}
