/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 20, 2018, 12:06:22 AM
    Author     : SYSTEM
*/
.button {
	-fx-background-color: transparent;
	-fx-graphic: url("diente8.5.png");
}

.button:hover{
        -fx-background-color: transparent;  
	-fx-graphic: url("diente8.1.png");
}

.button:pressed{
	-fx-graphic: url("diente8.2.png");
}
