/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/06/2018, 07:31:18 PM
    Author     : VasMa
*/

.button {
	-fx-background-color: transparent;
	-fx-graphic: url("diente1.png");
}

.button:hover{
        -fx-background-color: transparent;  
	-fx-graphic: url("diente1.2.png");
}

.button:pressed{
	-fx-graphic: url("diente1.3.png");
}