/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/06/2018, 06:29:38 PM
    Author     : VasMa
*/
.button {
	-fx-background-color: transparent;
	-fx-graphic: url("diente19.png");
}

.button:hover{
        -fx-background-color: transparent;  
	-fx-graphic: url("diente19.1.png");
}

.button:pressed{
        -fx-background-color: transparent;
	-fx-graphic: url("diente19.2.png");
}
