/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 23, 2018, 1:01:29 AM
    Author     : SYSTEM
*/

.button {
	-fx-background-color: transparent;
	-fx-graphic: url("diente12.4.png");
}

.button:hover{
        -fx-background-color: transparent;  
	-fx-graphic: url("diente12.1.png");
}

.button:pressed{
	-fx-graphic: url("diente12.2.png");
}