/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/06/2018, 03:55:30 PM
    Author     : VasMa
*/

.button {
	-fx-background-color: transparent;
	-fx-graphic: url("diente12.png");
}

.button:hover{
        -fx-background-color: transparent;  
	-fx-graphic: url("diente12.1.png");
}

.button:pressed{
	-fx-graphic: url("diente12.2.png");
}