/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/06/2018, 08:39:40 PM
    Author     : VasMa
*/

.button {
	-fx-background-color: transparent;
	-fx-graphic: url("diente2.png");
}

.button:hover{
        -fx-background-color: transparent;  
	-fx-graphic: url("diente2.1.png");
}

.button:pressed{
	-fx-graphic: url("diente2.2.png");
}