/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/06/2018, 10:47:21 PM
    Author     : VasMa
*/
.button {
	-fx-background-color: transparent;
	-fx-graphic: url("diente6.png");
}

.button:hover{
        -fx-background-color: transparent;  
	-fx-graphic: url("diente6.1.png");
}

.button:pressed{
	-fx-graphic: url("diente6.2.png");
}
