/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 19, 2018, 11:47:54 PM
    Author     : SYSTEM
*/
.button {
	-fx-background-color: transparent;
	-fx-graphic: url("diente7.3.png");
}

.button:hover{
        -fx-background-color: transparent;  
	-fx-graphic: url("diente7.1.png");
}

.button:pressed{
	-fx-graphic: url("diente7.2.png");
}
