/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 23, 2018, 1:16:30 AM
    Author     : SYSTEM
*/
.button {
	-fx-background-color: transparent;
	-fx-graphic: url("diente25.4.png");
}

.button:hover{
        -fx-background-color: transparent;  
	-fx-graphic: url("diente25.1.png");
}

.button:pressed{
        -fx-background-color: transparent;
	-fx-graphic: url("diente25.2.png");
}
