/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/06/2018, 04:56:51 PM
    Author     : VasMa
*/
.button {
	-fx-background-color: transparent;
	-fx-graphic: url("diente29.png");
}

.button:hover{
        -fx-background-color: transparent;  
	-fx-graphic: url("diente29.1.png");
}

.button:pressed{
	-fx-graphic: url("diente29.2.png");
}

